.bodyCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: ivory;
    margin-top: 15px;
    box-sizing: border-box;
    height: 260px;
    line-height: normal;
}
.overflow {
    overflow: hidden;
}

.imageHolder {
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0!important;
}

.marvelImage {
    height: 260px;
   width: 100%;
}

.bookmark {
    cursor: grab;
    position: absolute;
    bottom: 0;
    right: 15;
    font-size: 23px;
}