* {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
body {
  margin: 0;
  padding: 0;
  border:  0;
  font-family: 'Bangers', cursive;
 
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ol,ul{
  list-style: none;
}
a:hover{
  text-decoration: none!important;
  color: white;
}
